*, html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    overflow-x: hidden;
}

.main-nav {
    width: 100%;
    margin: auto;
    background-color: #1d1d1d;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: #000 0 0 10px 0;
}

.menu-icon div {
    width: 3em;
    height: .4em;
    margin: .5em;
    background-color: white;
}

.menu-icon {
    display: none;

}
.logo h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
    font-family: initial;
    font-size: 25px;
    line-height: .7em;
    border-top: solid #39964d 3px;
    color: #39964d; 
}
.logo .tree {
    color: #bb7c35;
}
#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    margin-left: auto;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    flex: 1;
    padding: 24px 0;
    height: inherit;
}

#navbar a:hover {
    color: #b9b9b9;
}

.backdrop {
    background: #141414;
    width: 100%;
    height: 100vh;
    position: relative;
}

header .company-name {
    width: 80vh;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    height: auto;
    text-align: center;
}
#the {
    color:rgb(255, 255, 204);
    font-size: 30px;
    width: fit-content;
    margin-left: 5%;
    font-style: italic;
}
header h1 {
    font-weight: bold;
    color: #39964d;
    width: fit-content;
    margin: auto;
    line-height: .7em;
    border-top: solid #39964d 7px;
    font-size: 130px;
}
header h1 .tree {
    color: #bb7c35;
    height: auto;
    width: fit-content;
}
header h2 {
    text-align: right;
    color: rgb(255, 255, 204);
    width: max-content;
    margin-left: auto;
    margin-right: 5%;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #141414;
    background-image: url("images/spices.jpg");
    background-position: center;
    background-size: cover;
    row-gap: 10em;
}

.article {
    text-align: center;
    font-size: 24px;
    background: linear-gradient(to bottom right, #f3f3f3 0%, #ffffff 100%);
    padding: 15%;
    color: #363636;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 5em;
    grid-column: 1 / 3;
}

.intro {
    font-size: 40px;
    margin-bottom: 20px;
}

.image {
    background-position: left;
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
    width: auto;
}

.time {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 45em;
}

.article2 {
    grid-column: 2 / 4;
    text-align: center;
    background: linear-gradient(to bottom right, #f3f3f3 0%, #ffffff 100%);
    font-size: 24px;
    padding: 15%;
    color: #363636;
    letter-spacing: 1px;
    line-height: 1.5;
}
.article2 h3 {
    margin-top: 15px;
}

.image2 {
    grid-row: 2;
    grid-column: 1;
    background-size: cover;
    background-position: top;
}

.block {
    grid-column: 1 / 4;
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background: #1d1d1d;
    box-shadow: 5px 5px 25px;
}
.contact {
    text-align: left;
    background-color:  rgb(20, 20, 20);
    font-size: 1.5em;
    padding: 5% 0 5% 5%;
    color: #8d8d8d;
    letter-spacing: 1px;
    line-height: 1.5;
    word-wrap: break-word;
}
.location {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 8em;
}
.map {
    background: black;
    
}

.map iframe {
    filter:brightness(80%);
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    height: auto;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-columns: 1fr;
}

footer address{
    text-align: center;
    font-size: 24px;
    color:#a7a7a7;
}
footer .icon {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
footer img {
    height: 3em;
    width: 3em;
    margin: .5em;
}

.menu {
    display: grid;
    grid-row: auto;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(233, 233, 233);
}

.side-nav {
    background-color: #141414;
    grid-column: 1;
}

.side-nav nav {
    text-align: center;
    position: sticky;
    top: 80px;
}

.side-nav nav a {
    display: block;
    font-size: 1.7em;
    color:hsl(33, 54%, 87%);
    width:80%;
    margin: auto;
}

.side-nav nav a:hover {
    border-left: solid 3px hsl(33, 54%, 87%);
}
.side-nav nav h2 {
    font-size: 2.8em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid #3a7c3d 3px;
    padding-bottom: 15px;
    color: #3a7c3d;
}

#menu-list {
    grid-column: 2;
    width: 100%;
    padding-left: 50px;
    color: #1d1d1d;
    overflow-y: scroll;
}

#menu-list h2 {
    font-size: 50px;
    margin-top: 1em;
}

#menu-list div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    margin-bottom: 1em;
}

#menu-list div .food-name {
    grid-column: 1;
    font-size: 24px;
    font-weight: bolder;
}

#menu-list div .food-price {
    grid-column: 2;
    grid-row: 1;
    font-weight: bolder;
    font-size: 24px;
}

#menu-list div .food-description {
    grid-column: span 2;
    grid-row: 2;
    line-height: 18px;
    color: #423929;
    font-style: italic;
}

.book {
    background-color: #ecc08d;
    height: 65em;
    width: 100%;
    background-image: url("images/restaurant.jpg");
    background-position: center;
    background-size: cover;
}

.book .outer {
    width: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    margin-top: 10em;
    margin-bottom: 10em;
}

.outer .form {
    padding: 2em;
    background: #f1f1f1;
    box-shadow: 5px 5px 20px;
}
.outer h2 {
    margin-bottom: .5em;
    font-size: 30px;
    color:#e6e4e4;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5em;
    row-gap: 2.5em;
}

form div {
    height: 4em;
    box-sizing: content-box;
}

form label {
    display: block;
    font-size: 20px;
    color:#363636
}

form input {
    height: 3em;
    width: 100%;
    padding-left: .3em;
    font-size: 14px;
    border: 0px;
    border-bottom: solid black 1px;
    background-color: inherit;
}

form .name{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

form .email {
    grid-column: span 3;
}

form .phone {
    grid-column: span 3;
}

form .text-box {
    grid-column: span 3;
    height: fit-content;
}

textarea {
    width: 100%;
    padding: 1em;
}

form .submit {
    grid-column: span 3;
    height: fit-content;
}

.submit button {
    width: 100%;
    font-size: 50px;
    background-color: #1d1d1d;
    color: #cacaca;
    border-radius: 20px;
    border: 0px;
}

.submit button:hover {
    color: #1d1d1d;
    background-color: #cacaca;
}

.events {
    background-image: url("images/restaurant.jpg");
    background-position: center;
    background-size: cover;
    height: max-content;
    padding-top: 2em;
    padding-bottom: 2em;
}
.events h1 {
    margin-left: 2.2em;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 50px;  
    color:#1b1b1b;
}
.events .outer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    margin-top: 0;
    margin-bottom: 3em;;
    background-color: #f1f1f1;
}

.events .item {
    height: 14em;
    overflow: hidden;
    padding: 1em;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: 5fr 1fr;
    row-gap: .3em;
    font-family: Arial, Helvetica, sans-serif;
}

.events .item .content {
    font-size: 24px;
    overflow: hidden;
    text-align: justify;
}

.item h2 {
    color: #1d1d1d;
}
.events .item img {
    height: 7em;
    width: 8em;
    margin-right: .7em;
    float: left;
}

.events .read-more {
    width: 100%;
    text-align: center;
    margin: auto;
}

.read-more button {
    margin-left: auto;
    width: 10em;
    height: 2em;
    background-color: #1d1d1d;
    border: 0px;
    font-size: 15px;
    color:rgb(47, 92, 41);
}

.read-more button:hover {
    color: #f1f1f1;
}
@media screen and (max-width: 620px){

    #navbar{
        background-color: #0f0f0f;
        width: 40%;
        margin-left: auto;
        position: fixed;
        right: 0; 
        height: 100%;
        display: none;
        flex-direction: column;
    }

    .main-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu-icon {
        display: block;
        width: fit-content;
        margin-left: auto;
        padding-top: 1em;
    }

    .logo {
        width: fit-content;
        margin-right: auto;
        margin-left: 1em;
    }
    .company-name #the {
        font-size: 1em;
        margin-left: 9em;
    }

    .company-name h2 {
        font-size: 1em;
        margin-right: 9em;
    }
    .company-name h1{
        font-size: 5em;
    }

    .home {
        row-gap: 8em;
    }
    .article {
        margin-top: 8em;
    }
    .article, .article2 {
        grid-column: span 3;
    }
    .contact {
        grid-column: span 3;
        text-align: center;
    }
    .map {
        grid-column: span 3;
        height: 20em;
    }

    .menu {
        grid-template-columns: 1fr;
    }
    .menu .side-nav{
        display: none;
    }

    .book .outer {
        width: 100%;
        height: auto;
        margin-top: 10em;
        margin-bottom: 10em;
    }
    .book .form {
        box-shadow: none;
        grid-template-rows: 1fr;
    }

    .book .outer h2{
        text-align: center;
        color: #1d1d1d;
    }
    .book {
        background-color: #f1f1f1;
        background-image: none;
    }

    .events {
        background-image: none;
        background-color: #f1f1f1;
    }

    .events h1 {
        color: #1d1d1d;
    }
}

